<ion-header-bar class="bar-stable">
  <h1 class="title">{{ pc.title }}</h1>
</ion-header-bar>

<ion-content>
  <ion-list>
    <div class="list">
      <div class="item item-toggle" ng-repeat="p in pc.projects">
        <h2>{{ p.title }}</h2>
        <!-- <img class="project-preview" ng-src="{{ p.image_url }}"> -->
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="p.active" ng-change="pc.handleToggle(p._id, p.active)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
  </ion-list>
</ion-content>
