<ion-header-bar class="bar-stable">
  <h1 class="title">{{ pc.title }}</h1>
</ion-header-bar>

<ion-content>
  <ion-list>
    <div class="list">
      <a class="item item-thumbnail-right" ng-click="pc.handlePortfolioClick()" ng-repeat="p in pc.projects">
        <img ng-src="{{ p.image_url_thumbnail }}">
        <h2>{{ p.title }}</h2>
        <p class="url">{{ p.website_url }}</p>
        <p class="tags">
          <span class="tag" ng-repeat="t in p.tags">{{ t }}</span>
        </p>
      </a>
    </div>
  </ion-list>
</ion-content>
