/* Empty. Add your own CSS if you like */
.header-space{
  margin-top: 44px;
}

.login-avatar{
  max-width: 125px;
  max-height: 125px;
  border-radius: 100%;
}

.display-block{
  display: block;
  min-width: 100%;
}

.no-bg{
  background: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"], input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"], input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  font-size: 18px;
}

.project-preview{
  max-width: 150px;
}

.item.item-toggle{
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

.item-thumbnail-right > img:first-child{
  max-width: 130px;
  border-radius: 3px;
}

.item-thumbnail-right{
  padding-right: 150px;
}

.item p:last-child{
  margin-bottom: 2px;
}

.tags{
  font-size: 11px !important;
  position: absolute;
  bottom: 0;
}

.tag{
  color: #fff;
  background-color: #bbb;
  padding: 3px;
  margin: 2px;
  border-radius: 2px;
}

.url{
  font-size: 12px !important;
  font-style: italic;
}

.project-image{
  max-width: 100%;
}
