/* Empty. Add your own CSS if you like */
.header-space{
  margin-top: 44px;
}

.login-avatar{
  max-width: 125px;
  max-height: 125px;
  border-radius: 100%;
}

.display-block{
  display: block;
  min-width: 100%;
}

.bar.bar-footer{
  background: #fff;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"], input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"], input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
  font-size: 18px;
}
